In [1]:
import lxml
import selenium
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
sns.set(rc={'figure.figsize':(20,10)})
sns.set_theme()

In [50]:
races=pd.read_csv("/Users/hurtadoemmanuel/Desktop/ensae 2A/python/formula1/Data/race.csv")
results=pd.read_csv("/Users/hurtadoemmanuel/Desktop/ensae 2A/python/formula1/Data/results.csv")
constructor_standings=pd.read_csv("/Users/hurtadoemmanuel/Desktop/ensae 2A/python/formula1/Data/constructor_standings.csv")
driver_standings=pd.read_csv("/Users/hurtadoemmanuel/Desktop/ensae 2A/python/formula1/Data/driver_standings.csv")
qualifying_results=pd.read_csv("/Users/hurtadoemmanuel/Desktop/ensae 2A/python/formula1/Data/qualifying_results.csv")
weather=pd.read_csv("/Users/hurtadoemmanuel/Desktop/ensae 2A/python/formula1/Data/weather.csv")

## Importation des données depuis un dépôt local

In [51]:

races=races.drop(columns="Unnamed: 0")

In [52]:

results=results.drop(columns="Unnamed: 0")

In [53]:

constructor_standings=constructor_standings.drop(columns="Unnamed: 0")

In [54]:

driver_standings=driver_standings.drop(columns="Unnamed: 0")

In [55]:

qualifying_results=qualifying_results.drop(columns="Unnamed: 0")

In [56]:

weather=weather.drop(columns="Unnamed: 0")

In [23]:
results.head()

,season,round,circuit_id,driver,date_of_birth,nationality,constructor,grid,time,status,points,podium
0,1990,1,phoenix,senna,1960-03-21,Brazilian,mclaren,5,6752829.0,Finished,9.0,1
1,1990,1,phoenix,alesi,1964-06-11,French,tyrrell,4,6761514.0,Finished,6.0,2
2,1990,1,phoenix,boutsen,1957-07-13,Belgian,williams,9,6806909.0,Finished,4.0,3
3,1990,1,phoenix,piquet,1952-08-17,Brazilian,benetton,6,6821187.0,Finished,3.0,4
4,1990,1,phoenix,modena,1963-05-12,Italian,brabham,10,6822332.0,Finished,2.0,5

In [24]:
constructor_standings.head()

,season,round,constructor,constructor_points,constructor_wins,constructor_standings_pos
0,1990,1,mclaren,0.0,0.0,0.0
1,1990,1,tyrrell,0.0,0.0,0.0
2,1990,1,williams,0.0,0.0,0.0
3,1990,1,benetton,0.0,0.0,0.0
4,1990,1,brabham,0.0,0.0,0.0

In [25]:
driver_standings.head()

   season  round   driver  driver_points  driver_wins  driver_standings_pos
0    1990      1    senna            0.0          0.0                   0.0
1    1990      1    alesi            0.0          0.0                   0.0
2    1990      1  boutsen            0.0          0.0                   0.0
3    1990      1   piquet            0.0          0.0                   0.0
4    1990      1   modena            0.0          0.0                   0.0

In [32]:
qualifying_results.sample(20)

,grid,driver_name,car,qualifying_time,season,round
512,22,Mark Blundell BLU,Brabham Yamaha,1:24.109,1991,4
5910,3,Fernando Alonso ALO,Renault,1:27.050,2005,14
4186,6,Jenson Button BUT,Williams BMW,1:15.017,2000,15
4443,21,Fernando Alonso ALO,Minardi European,1:18.630,2001,9
12005,12,Charles Leclerc LEC,Ferrari,1:56.696,2020,14
8898,15,Paul di Resta DIR,Force India Mercedes,1:44.509,2013,2
2245,7,Eddie Irvine IRV,Jordan Peugeot,1:30.083,1995,8
46,21,Olivier Grouillard GRO,Osella Ford,1:20.884,1990,2
804,2,Gerhard Berger BER,McLaren Honda,1:14.385,1991,16
379,18,Emanuele Pirro PIR,Dallara Ford,1:42.361,1990,15
1128,14,Michele Alboreto ALB,Footwork Mugen Honda,1:56.282,1992,12
10422,7,Nico Hulkenberg HUL,Force India Mercedes,1:36.628,2016,18
4806,14,Takuma Sato SAT,Jordan Honda,1:31.999,2002,9
9961,12,Felipe Nasr NAS,Sauber Ferrari,1:39.323,2015,15
7394,6,Jenson Button BUT,Brawn Mercedes,1:25.030,2009,13
2018,10,Rubens Barrichello BAR,Jordan Hart,1:38.533,1994,15
2022,14,Ukyo Katayama KAT,Tyrrell Yamaha,1:39.462,1994,15
12032,19,Romain Grosjean GRO,Haas Ferrari,1:30.138,2020,15
11503,8,Lando Norris NOR,McLaren Renault,1:26.224,2019,10
9506,12,Sergio Perez PER,Force India Mercedes,1:25.211,2014,11

In [59]:
qualifying_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   grid             12074 non-null  int64
 1   driver_name      12074 non-null  object
 2   car              12074 non-null  object
 3   qualifying_time  11804 non-null  object
 4   season           12074 non-null  int64
 5   round            12074 non-null  int64
dtypes: int64(3), object(3)
memory usage: 566.1+ KB

In [57]:
qualifying_results["driver_name"]=qualifying_results["driver_name"].str.split()

In [58]:
# on modifie la colonne "driver_name" de qualifying_results pour faciliter le merge
taille=len(qualifying_results)
for i in range(taille):
    qualifying_results.iloc[i,1]=qualifying_results.iloc[i,1][1]
    
qualifying_results["driver_name"]

0            Berger
1           Martini
2                de
3             Alesi
4             Senna
            ...
12069       Russell
12070    Fittipaldi
12071        Latifi
12072         Perez
12073     Magnussen
Name: driver_name, Length: 12074, dtype: object

In [62]:
qualifying_results["driver_name"].str.lower()
qualifying_results.rename(columns={'driver_name': 'driver'}, inplace=True)

KeyError: 'driver_name'

In [77]:
qualifying_results.head()

   grid   driver            car qualifying_time  season  round
0     1   Berger  McLaren Honda        1:28.664    1990      1
1     2  Martini   Minardi Ford        1:28.731    1990      1
2     3       de   Dallara Ford        1:29.019    1990      1
3     4    Alesi   Tyrrell Ford        1:29.408    1990      1
4     5    Senna  McLaren Honda        1:29.431    1990      1

In [27]:
weather.head()

,season,round,circuit_id,weather,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
0,1990,1,phoenix,Cloudy and cool with temperatures reaching up ...,0,1,0,0,1
1,1990,2,interlagos,"Hot, dry, sunny",1,0,0,0,0
2,1990,3,imola,"Warm, dry, sunny",1,0,0,0,0
3,1990,4,monaco,"Warm, dry, sunny",1,0,0,0,0
4,1990,5,villeneuve,Warm and cloudy with temperatures approaching ...,1,0,0,0,1

## Merge des dataframes

In [74]:
## on merge constructor_standings sur results 

results_2=results.merge(how="left",on=["season","round","constructor"],right=constructor_standings)
results_2.head()
results_3=results_2.merge(how="left",on=["season","round","driver"],right=driver_standings)
results_3.head(30)
results_4=results_3.merge(how="left",on=["season","round","driver"],right=qualifying_results)
results_5=results_4.merge(how="left",on=["season","round","circuit_id"],right=weather)

In [76]:
results_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12397 entries, 0 to 12396
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   season                     12397 non-null  int64
 1   round                      12397 non-null  int64
 2   circuit_id                 12397 non-null  object
 3   driver                     12397 non-null  object
 4   date_of_birth              12397 non-null  object
 5   nationality                12397 non-null  object
 6   constructor                12397 non-null  object
 7   grid_x                     12397 non-null  int64
 8   time                       4464 non-null   float64
 9   status                     12397 non-null  object
 10  points                     12392 non-null  float64
 11  podium                     12397 non-null  int64
 12  constructor_points         12211 non-null  float64
 13  constructor_wins           12211 non-null  float64
 14  constructor_standings_pos  12211 non-null  float64
 15  driver_points              11792 non-null  float64
 16  driver_wins                11792 non-null  float64
 17  driver_standings_pos       11792 non-null  float64
 18  grid_y                     0 non-null      float64
 19  car                        0 non-null      object
 20  qualifying_time            0 non-null      object
 21  weather                    12397 non-null  object
 22  weather_warm               12397 non-null  int64
 23  weather_cold               12397 non-null  int64
 24  weather_dry                12397 non-null  int64
 25  weather_wet                12397 non-null  int64
 26  weather_cloudy             12397 non-null  int64
dtypes: float64(9), int64(9), object(9)
memory usage: 2.6+ MB