In [41]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Télécharger le CSV

In [42]:
data = pd.read_csv(r"C:\Users\Victor-Adrien\Documents\GitHub\formula1\Data\driver_standings.csv") 
print(data)

       Unnamed: 0  season  round             driver  driver_points  \
0               0    1990      1              senna            0.0
1               1    1990      1              alesi            0.0
2               2    1990      1            boutsen            0.0
3               3    1990      1             piquet            0.0
4               4    1990      1             modena            0.0
...           ...     ...    ...                ...            ...
12688       12688    2020     17           grosjean            2.0
12689       12689    2020     17    kevin_magnussen            1.0
12690       12690    2020     17             latifi            0.0
12691       12691    2020     17             aitken            0.0
12692       12692    2020     17  pietro_fittipaldi            0.0

       driver_wins  driver_standings_pos
0              0.0                   0.0
1              0.0                   0.0
2              0.0                   0.0
3              0.0                   0.0
4              0.0                   0.0
...            ...                   ...
12688          0.0                  19.0
12689          0.0                  20.0
12690          0.0                  21.0
12691          0.0                  22.0
12692          0.0                  23.0

[12693 rows x 7 columns]

# La taille du dataframe

In [43]:
data.shape

(12693, 7)

# Voir les titres des colonnes

In [44]:
data.head()

,Unnamed: 0,season,round,driver,driver_points,driver_wins,driver_standings_pos
0,0,1990,1,senna,0.0,0.0,0.0
1,1,1990,1,alesi,0.0,0.0,0.0
2,2,1990,1,boutsen,0.0,0.0,0.0
3,3,1990,1,piquet,0.0,0.0,0.0
4,4,1990,1,modena,0.0,0.0,0.0

# Supprimer colonnes

In [45]:
data = data.drop(['Unnamed: 0'], axis=1) #On veut éliminer une colonne

In [47]:
data.head()

   season  round   driver  driver_points  driver_wins  driver_standings_pos
0    1990      1    senna            0.0          0.0                   0.0
1    1990      1    alesi            0.0          0.0                   0.0
2    1990      1  boutsen            0.0          0.0                   0.0
3    1990      1   piquet            0.0          0.0                   0.0
4    1990      1   modena            0.0          0.0                   0.0

# Statistiques de base

In [48]:
data.describe()

,season,round,driver_points,driver_wins,driver_standings_pos
count,12693.000000,12693.000000,12693.000000,12693.000000,12693.000000
mean,2005.138344,9.807059,22.325613,0.367368,11.457102
std,9.120301,5.143486,45.156697,1.218552,7.474486
min,1990.000000,1.000000,0.000000,0.000000,0.000000
25%,1997.000000,5.000000,0.000000,0.000000,5.000000
50%,2006.000000,10.000000,4.000000,0.000000,11.000000
75%,2013.000000,14.000000,23.000000,0.000000,17.000000
max,2020.000000,21.000000,387.000000,13.000000,30.000000

# Nettoyer une donnée partiellement manquante

In [50]:
data.fillna(data['season'].mean()) #ici on a remplacé les potentielles données manquantes de season par la moyenne

,season,round,driver,driver_points,driver_wins,driver_standings_pos
0,1990,1,senna,0.0,0.0,0.0
1,1990,1,alesi,0.0,0.0,0.0
2,1990,1,boutsen,0.0,0.0,0.0
3,1990,1,piquet,0.0,0.0,0.0
4,1990,1,modena,0.0,0.0,0.0
...,...,...,...,...,...,...
12688,2020,17,grosjean,2.0,0.0,19.0
12689,2020,17,kevin_magnussen,1.0,0.0,20.0
12690,2020,17,latifi,0.0,0.0,21.0
12691,2020,17,aitken,0.0,0.0,22.0
12692,2020,17,pietro_fittipaldi,0.0,0.0,23.0

# Eliminer une ligne de données manquantes

In [51]:
data.dropna(axis = 0) #on élimine les lignes NA

,season,round,driver,driver_points,driver_wins,driver_standings_pos
0,1990,1,senna,0.0,0.0,0.0
1,1990,1,alesi,0.0,0.0,0.0
2,1990,1,boutsen,0.0,0.0,0.0
3,1990,1,piquet,0.0,0.0,0.0
4,1990,1,modena,0.0,0.0,0.0
...,...,...,...,...,...,...
12688,2020,17,grosjean,2.0,0.0,19.0
12689,2020,17,kevin_magnussen,1.0,0.0,20.0
12690,2020,17,latifi,0.0,0.0,21.0
12691,2020,17,aitken,0.0,0.0,22.0
12692,2020,17,pietro_fittipaldi,0.0,0.0,23.0

# Quelques stats maison

In [57]:
data['driver'].value_counts() #compte le nombre de courses courues par les coureurs depuis 1990

raikkonen             331
button                316
alonso                316
michael_schumacher    311
barrichello           308
                     ...
naspetti                5
dalmas                  5
enge                    3
pietro_fittipaldi       2
aitken                  2
Name: driver, Length: 179, dtype: int64